---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CTA from "@/sections/CTA.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Process from "@/sections/Process.astro";
import Projects from "@/sections/Projects.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <Projects />
    <Process />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
