<a href="#home" class="group inline-flex items-center" aria-label="madebytakumi home">
  <img
    src="/logo.svg"
    alt="madebytakumi"
    class="h-11 w-56 object-contain object-left transition duration-300 group-hover:opacity-75 sm:h-12 sm:w-64"
    width="256"
    height="57"
    loading="eager"
    decoding="async"
  />
</a>
